{% extends 'base.html' %}


{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <form method="POST" action="{% url 'webnlp:regex' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">
                        Enter text here in order to perform regex on UA phone number:
                    </label>
                    <br>
                     <p>Example: My relevant phone number is +38(063)140 7788 or 063 3291305</p>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="100"
                              name="regex-form"
                              placeholder="Enter text here in order to perform regex on UA phone number">
                    </textarea>
                    <br>
                    <button type="submit" class="btn btn-outline-primary float-right">Regex</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <form method="POST" action="{% url 'webnlp:lemma' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlTextarea2">
                        Enter text here in order to perform lemmatization
                    </label>
                    <br>
                     <p>Example: Elon Musk shares his thoughts on Bill Gates.</p>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="100"
                              name="lemma-form"
                              placeholder="Enter text here in order to perform lemmatization">
                    </textarea>
                    <br>
                    <button type="submit" class="btn btn-outline-warning float-right">Lemma</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <form method="POST" action="{% url 'webnlp:pos' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlTextarea3">
                        Enter text here in order to perform part of speech
                    </label>
                    <br>
                    <p>Example: Elon Musk shares his thoughts on Bill Gates.</p>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="100"
                              name="pos-form"
                              placeholder="Enter text here in order to perform part of speech">
                    </textarea>
                    <br>
                    <button type="submit" class="btn btn-outline-success float-right">POS</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <form method="POST" action="{% url 'webnlp:ner' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlTextarea4">
                        Enter text here in order to perform named entity recognition
                    </label>
                    <br>
                    <p>Example: Elon Musk shares his thoughts on Bill Gates. Yesterday he was visited UN.</p>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="100"
                              name="ner-form"
                              placeholder="Enter text here in order to perform named entity recognition">
                    </textarea>
                    <br>
                    <button type="submit" class="btn btn-outline-secondary float-right">Ner</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}